/* Loading Screen animations */
@keyframes blink {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.4;
    }
}

@keyframes loading {
    0% {
        width: 0%;
    }

    50% {
        width: 50%;
    }

    100% {
        width: 100%;
    }
}

