.menu-container {
    display: none;
    width: 250px;
    max-width: 90%;
    padding: 15px;
    border: 3px solid #00FF00;
    border-radius: 5px;
    box-shadow: 0 0 15px 5px #00FF00, 0 0 30px 10px rgba(0, 255, 0, 0.5);
    color: #00FF00;
    background-color: #000000;
    position: absolute;
    flex-direction: column;
    top: 200px;
    left: 20px;
    font-size: 14px;
    animation: menu-slide-in 0.5s ease-in-out;
}

.switch-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}

.switch-container label {
    color: #00FF00;
    font-size: 14px;

}

.switch-container input[type="checkbox"] {
    width: 45px;
    height: 22px;
    accent-color: #00FF00;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    outline: none;
}